---
---

@import "{{ site.theme }}";
.page-header {
    color: rgba(0, 0, 255, 0.3);
    background-color: #FFFFFF;
    background-image: url('/assets/header.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}
